<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="flag">

    <material name="red">
        <color rgba="${255/255} ${0/255} ${0/255} 0.81"/>
    </material>

    <material name="purple">
        <color rgba="${171/255} ${80/255} ${231/255} 1"/>
    </material>

    <link name="base_link_target">

        <visual>
            
            <geometry>
                <cylinder length="0.65" radius="0.05"/>
            </geometry>

            <origin rpy="0 0 0" xyz="0 0 0.325"/>

            <material name="purple"/>

        </visual>

        <visual>

            <geometry>
                <box size="0.4 0.1 0.08"/>
            </geometry>

            <origin rpy="0 0 0" xyz="0.2 0 0.61"/>

        </visual>

    </link>

</robot>
