<?xml version="1.0"?>

<robot name="mission_path" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.14159265359"/>

    <material name="orange">
        <color rgba="${219/255} ${68/255} ${10/255} 1"/>
    </material>

    <link name="base_path"/>

    <link name="path">
        <visual>
            <geometry>
                <mesh filename="package://zeabus_model/stl/path.stl"
                    scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="orange"/>
        </visual>
    </link>

    <joint name="base_path_to_path" type="fixed">
        <origin xyz="0.5 0.0 0.0" rpy="${-1 * PI / 2 } 0 ${ PI / 2 }"/>
        <parent link="base_path"/>
        <child link="path"/>
    </joint>

</robot>
