<?xml version="1.0"?>

<!-- reference
    ref01   : https://cssgenerator.org/rgba-and-hex-color-generator.html
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zeabus_robot" >

    <material name="green">
        <color rgba="${82/255} ${199/255} ${72/255} 0.8"/>
    </material>

    <material name="red">
        <color rgba="${255/255} ${0/255} ${0/255} 0.81"/>
    </material>

    <xacro:property name="PI" value="3.14159265359"/>

    <link name="base_link">

        <visual>

            <geometry>
                <cylinder length="0.15" radius="0.12"/>
            </geometry>

            <origin rpy="0 1.57075 0" xyz="0.385 0 0"/>

            <material name="red"/>

        </visual>

        <visual>

            <geometry>
                <cylinder length="0.92" radius="0.105"/>
            </geometry>

            <origin rpy="0 1.57075 0" xyz="0 0 0"/>

            <material name="green"/>

        </visual>

    </link>

    <link name="bottom_camera"/>
    <link name="bottom_camera_optical_frame"/>

    <joint name="base_link_bottom_camera" type="fixed">
        <origin xyz="0.26 0 0" rpy="0 ${PI / 2 } 0"/>
        <parent link="base_link"/>
        <child link="bottom_camera"/>
    </joint>

    <joint name="bottom_camera_to_optical_frame" type="fixed">
        <origin xyz="0 0 0" rpy="${-1.0 * PI / 2} 0 ${-1.0 * PI / 2}"/>
        <parent link="bottom_camera"/>
        <child link="bottom_camera_optical_frame"/>
    </joint>

</robot>
