<?xml version="1.0"?>

<!-- reference
    ref01   : https://cssgenerator.org/rgba-and-hex-color-generator.html
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zeabus_robot" >

    <material name="green">
        <color rgba="${82/255} ${199/255} ${72/255} 0.8"/>
    </material>

    <material name="red">
        <color rgba="${255/255} ${0/255} ${0/255} 0.81"/>
    </material>

    <link name="base_link_robot">

        <visual>

            <geometry>
                <cylinder length="0.15" radius="0.12"/>
            </geometry>

            <origin rpy="0 1.57075 0" xyz="0.385 0 0"/>

            <material name="red"/>

        </visual>

        <visual>

            <geometry>
                <cylinder length="0.92" radius="0.105"/>
            </geometry>

            <origin rpy="0 1.57075 0" xyz="0 0 0"/>

            <material name="green"/>

        </visual>

    </link>

</robot>
